[submodule "emacs.d/vendor/sass-mode"]
	path = emacs.d/vendor/sass-mode
	url = https://github.com/nex3/sass-mode.git
[submodule "emacs.d/vendor/haml-mode"]
	path = emacs.d/vendor/haml-mode
	url = http://github.com/nex3/haml-mode
[submodule "emacs.d/vendor/color-theme"]
	path = emacs.d/vendor/color-theme
	url = https://github.com/emacsmirror/color-theme.git
[submodule "emacs.d/vendor/undo-tree"]
	path = emacs.d/vendor/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "emacs.d/vendor/paredit"]
	path = emacs.d/vendor/paredit
	url = https://github.com/emacsmirror/paredit.git
[submodule "emacs.d/vendor/yaml-mode"]
	path = emacs.d/vendor/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "emacs.d/vendor/feature-mode"]
	path = emacs.d/vendor/feature-mode
	url = https://github.com/michaelklishin/cucumber.el.git
[submodule "emacs.d/vendor/yasnippet"]
	path = emacs.d/vendor/yasnippet
	url = https://github.com/emacsmirror/yasnippet.git
[submodule "emacs.d/vendor/yasnippets-rails"]
	path = emacs.d/vendor/yasnippets-rails
	url = https://github.com/eschulte/yasnippets-rails.git
[submodule "emacs.d/vendor/yasnippets-shoulda"]
	path = emacs.d/vendor/yasnippets-shoulda
	url = https://github.com/rwc9u/yasnippets-shoulda.git
[submodule "emacs.d/vendor/slime"]
	path = emacs.d/vendor/slime
	url = https://github.com/nablaone/slime.git
[submodule "emacs.d/vendor/full-ack"]
	path = emacs.d/vendor/full-ack
	url = https://github.com/nschum/full-ack.git
[submodule "emacs.d/vendor/autopair"]
	path = emacs.d/vendor/autopair
	url = https://github.com/emacsmirror/autopair.git
