[submodule "emacs.d/vendor/sass-mode"]
	path = emacs.d/vendor/sass-mode
	url = https://github.com/nex3/sass-mode.git
[submodule "emacs.d/vendor/haml-mode"]
	path = emacs.d/vendor/haml-mode
	url = http://github.com/nex3/haml-mode
[submodule "emacs.d/vendor/undo-tree"]
	path = emacs.d/vendor/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "emacs.d/vendor/yaml-mode"]
	path = emacs.d/vendor/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "emacs.d/vendor/feature-mode"]
	path = emacs.d/vendor/feature-mode
	url = https://github.com/michaelklishin/cucumber.el.git
[submodule "emacs.d/vendor/yasnippets-rails"]
	path = emacs.d/vendor/yasnippets-rails
	url = https://github.com/eschulte/yasnippets-rails.git
[submodule "emacs.d/vendor/yasnippets-shoulda"]
	path = emacs.d/vendor/yasnippets-shoulda
	url = https://github.com/rwc9u/yasnippets-shoulda.git
[submodule "emacs.d/vendor/full-ack"]
	path = emacs.d/vendor/full-ack
	url = https://github.com/nschum/full-ack.git
[submodule "emacs.d/vendor/auto-complete"]
	path = emacs.d/vendor/auto-complete
	url = https://github.com/m2ym/auto-complete.git
[submodule "emacs.d/vendor/js2-mode"]
	path = emacs.d/vendor/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "bin/cmd-key-happy"]
	path = bin/cmd-key-happy
	url = https://github.com/aim-stuff/cmd-key-happy.git
[submodule "emacs.d/vendor/color-theme-ir-black"]
	path = emacs.d/vendor/color-theme-ir-black
	url = https://github.com/rmm5t/color-theme-ir-black.git
[submodule "emacs.d/vendor/rinari"]
	path = emacs.d/vendor/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "emacs.d/vendor/yari"]
	path = emacs.d/vendor/yari
	url = https://github.com/pedz/yari-with-buttons.git
[submodule "emacs.d/vendor/inf-ruby"]
	path = emacs.d/vendor/inf-ruby
	url = https://github.com/nonsequitur/inf-ruby.git
[submodule "emacs.d/vendor/magit"]
	path = emacs.d/vendor/magit
	url = https://github.com/philjackson/magit.git
[submodule "emacs.d/vendor/smex"]
	path = emacs.d/vendor/smex
	url = https://github.com/nonsequitur/smex/
[submodule "emacs.d/vendor/rspec-mode"]
	path = emacs.d/vendor/rspec-mode
	url = https://github.com/pezra/rspec-mode.git
[submodule "emacs.d/vendor/mo-git-blame"]
	path = emacs.d/vendor/mo-git-blame
	url = https://github.com/mbunkus/mo-git-blame.git
[submodule "emacs.d/vendor/slime"]
	path = emacs.d/vendor/slime
	url = https://github.com/technomancy/slime.git
